body {
    background-image: url(../img/valback.png);
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    height: 100vh;
}

div.agent {
	background-color: rgb(29, 4, 49);
	color: white;
	padding: 10px;
	margin-top: 10px;
	display: inline-block;
	width: 100px;
}
  
.agent h1{
	font-weight: lighter;
	font-family: Verdana;
	font-size: 28px;
}
  
.agent img {
	width: 100px;
	height: auto;
	
}

.chart {
	
	height: auto;
	margin-top: 15px;
	background-color: rgb(27, 1, 39);
	color: aliceblue;
	
}

div.radioWrapper {
	display: inline-block;
	width: 600px;
	height: auto;
	margin-top: 15px;
	background-color: rgb(32, 21, 60);
	color: white;
	text-align: center;
	line-height: 100px;
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma;
}

.agentDescription{
	display: inline-block;
	width: 600px;
	height: auto;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgb(32, 21, 60);
	color: white;
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma;
}

.agentDescription ul{
   font-size: 17px;
   font-weight: 100;
  
}

.agentDescription ul p{
	font-size: 15px;
	font-weight: 100;
	font-style: italic;
}

.searchForm{
	display: inline-block;
	width: 250px;
	height: 80px;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	background-color: rgb(32, 21, 60);
	color: white;
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma;
}